.d-flex.flex-column.flex-root{
    padding-top: 70px;
}
a{
    cursor: pointer !important;
}
.header-navigation{
    position: fixed;
    width: 100%;
    min-height: 60px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 15px 15px;
    z-index: 99;
    box-shadow: 1px 7px 5px -3px rgba(173,173,173,0.75);
    -webkit-box-shadow: 1px 7px 5px -3px rgba(173,173,173,0.75);
    -moz-box-shadow: 1px 7px 5px -3px rgba(173,173,173,0.75);
}

.header-navigation .row{
    min-height: 60px;
}

.tns .tns-nav button.tns-nav-active {
    background-color: var(--bs-success);
}

.tns .tns-nav button {
    background-color: #AFAFAF;
}

.tns .tns-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem !important;
}

.ribbon .ribbon-label{
    top: 20% !important;
}

.ribbon .ribbon-label.ribbon-investasi{
    top: 8% !important;
}

.card.pulsa_mobile_1{
    height: auto !important; 
}

p.pulsa_mobile_3{
    width: 125px;
    font-size: 12px;
}

p.pulsa_mobile_3_special{
    width: 110px !important;
    font-size: 12px;
}

.app-footer{
    z-index: 99 !important;
}

.nav-footer .app-container {
    border-radius: 10px 10px 0px 0px;
    background-color: #FFFFFF;
    backdrop-filter: blur(15px);
}

#more {display: none;}

.text-secondary-off{
    color: #A3A3A3 !important;
}

@media only screen and (max-width: 600px) {
    .card.pulsa_mobile_1{
        width: 320px;
        height: auto !important;
    }

    .row.pulsa_mobile{
        padding: 0px 15px;
        margin-bottom: 75px;
    }

    .card.profile_mobile{
        width: 320px;
        height: auto !important;
    }

    .card .card-body.pulsa_mobile{
        padding: 0px 15px;
    }

    img.logo_pulsa{
        width: 65px;
    }
    
    .card .card-footer.pulsa_mobile{
        padding: 0px;
    }

    .table-responsive.table-detail{
        width: 310px;
    }
}

.showin {
    animation: animate 0.4s ease;
    transition: all 0.3s ease;
}

.showin_float {
    animation: floating 0.4s ease;
    transition: all 0.3s ease;
}

.hidin {
    display: none !important;
    transition: all 0.3s ease;
}

@keyframes animate {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}
.btn-primary{
    background-color: #288184 !important;
}